@import '../../../styles.scss';
.contact {
    background-color: $black;
    padding: 170px 6% 40px;
    @media(max-width:768px) {
        padding: 130px 32px 40px;
    }
    .infomation {
        h3 {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            font-family: $raleway;   
            color: $gold;
        }
        p {
            font-size: 40px;
            line-height: 48px;
            font-weight: 300;
            font-family: $raleway;   
            color: $white;
            margin-bottom: 0;
        }
        .data-contact {
            margin: 60px 0 32px;
            .contacts {
                display: flex;
                flex-direction: row;
                .box-icon {
                    i {
                        font-size: 40px;
                        color: $gold;
                        margin-right: 14px;
                    }
                }
                .box-icon {
                    p {
                        font-size: 14px;
                        line-height: 20px;
                        font-family: $raleway;                        
                        margin-bottom: 0;
                        &:first-child {
                            color: $white;
                        }
                        &:last-child {
                            color: $white;
                            opacity: .5;
                        }
                    }
                }
            }
        }
        .links-map {
            display: flex;
            flex-direction: column;
            .link-white {
                font-size: 16px;
                line-height: 24px;
                font-family: $raleway;
                color: $white;
                margin: 2px 0;
                text-decoration: none;
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}