<section class="contact">
    <div class="infomation">
        <h3>Ciudad de México</h3>
        <p>Río Pánuco 36</p>
        <p>Cuauhtémoc</p>
        <p>T - 55 1789.5385</p>
        <div class="data-contact">
            <div class="contacts">
                <div class="box-icon">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <div class="box-icon">
                    <p>Julián Rivera</p>
                    <p>julian@dorado.tv</p>
                </div>    
            </div>
        </div>
        <!-- <div class="links-map">
            <a routerLink="/" class="link-white">Home</a>
            <a href="" class="link-white">Términos y condiciones</a>
            <a href="" class="link-white">Cookies</a>
        </div> -->
    </div>
</section>
