<app-spinner [text]="'Cargando...'" *ngIf="project.spinnerActive"></app-spinner>
<section class="workers" [ngClass]="getBg()" *ngIf="slug == 'edicion' || slug == 'correccion-de-color' || slug == 'online' || slug == 'musica-original' ">
    <div class="head-tabs">
        <!-- <h3>{{workerData?.service_id.name}}</h3> -->
        <h3 [innerHTML]="lang == 'es' ? workers?.data[0].translations[1].translation : workers?.data[0].translations[0].translation "></h3>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation" *ngFor="let names of workers?.data[0].workers; let i = index">
                <button class="nav-link" [ngClass]="{'active': i == 0}" id="worker{{i}}-tab" data-bs-toggle="tab" attr.data-bs-target="#worker{{i}}" type="button" role="tab" attr.aria-controls="worker{{i}}" aria-selected="true" (click)="tabData(names)">{{names?.worker_id.slug}}</button>
            </li>
        </ul>
    </div>    
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" *ngFor="let names of workers?.data[0].workers; let i = index" [ngClass]="{'show active': i == 0}" id="worker{{i}}" role="tabpanel" attr.aria-labelledby="worker{{i}}-tab">
            <div class="author-header">
                <!-- <h2 [innerHTML]="lineBreak(workerData?.worker_id.name)"></h2> -->
                <h2>{{names.worker_id.name}}</h2>
            </div>            
            <div class="container-a2">
                <div class="video-gallery">
                    <div class="video-embed">
                        <div class="video-box" *ngFor="let project of projects; let i = index" [ngClass]="i == 0 || i == 3 || i == 6 || i == 9 ? 'wid-100' : 'wid-50' ">
                            <img [src]="project.photo.data.thumbnails[5].url" alt="" title="" class="img-author" />
                            <h4>{{project.title}}</h4>
                            <div class="caption" (click)="withinProject(project, author, project?.id, project?.home, project?.home_slider)">
                                <div class="caption-text" [ngClass]="getBg()">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                    <h5>{{project.title}}</h5>
                                    <p>{{project.subtitle}}</p>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="workers animation" [ngClass]="getBg()" *ngIf="slug == 'animacion'">
    <!-- <h3>{{workerData?.service_id.name}}</h3>   -->
    <div class="video-embed">
        <iframe [src]="workers.data[0].reel | safe: 'resourceUrl'" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <!-- <div class="video-description">
        <h2 [ngClass]="projectAuthor?.services[0].service_id.slug == 'online' ? 'white' : ''">{{projectAuthor?.title}}</h2>
        <p [ngClass]="projectAuthor?.services[0].service_id.slug == 'online' ? 'white' : ''">{{projectAuthor?.credits}}</p>
    </div> -->
</section>