<nav [ngClass]="{'scrolled': scroll}" *ngIf="light">
	<div class="left">
		<a routerLink="">
			<img src="assets/images/nav/logo-DorardoTV.png" title="Logo Dorado TV" alt=" Logo Dorado TV" class="logo-dorado"/>
		</a>
	</div>
	<div class="right">
		<div class="menu">
			<a href="#" class="menu-nav-toggle" data-bs-toggle="modal" data-bs-target="#menuModal">
				<i></i>
			</a>
		</div>	
		<div class="lang-menu">
			<a class="language" *ngIf="langMenu == 'es'" (click)="lang('en')">
				EN
				<i class="fa fa-angle-down d-none d-md-block" aria-hidden="true"></i>
			</a>
			<a class="language" *ngIf="langMenu == 'en'" (click)="lang('es')">
				ES
				<i class="fa fa-angle-down d-none d-md-block" aria-hidden="true"></i>
			</a>
		</div>		
	</div>    
</nav>

<nav [ngClass]="{'scrolled': scroll, 'dark': dark}" *ngIf="dark">
	<div class="left">
		<a routerLink="">
			<img src="assets/images/nav/logo-DorardoTV-dark.svg" title="Logo Dorado TV" alt=" Logo Dorado TV" class="logo-dorado" [hidden]="scroll"/>
			<img src="assets/images/nav/logo-DorardoTV.png" title="Logo Dorado TV" alt=" Logo Dorado TV" class="logo-dorado" [hidden]="!scroll" />
		</a>
	</div>
	<div class="right">
		<div class="menu">
			<a href="#" class="menu-nav-toggle" data-bs-toggle="modal" data-bs-target="#menuModal">
				<i [ngClass]="scroll == false ? 'dark' : ''"></i>
			</a>
		</div>
		<div class="lang-menu">
			<a class="language" *ngIf="langMenu == 'es'" (click)="lang('en')" [ngClass]="scroll == false ? 'dark' : ''">
				EN
				<i class="fa fa-angle-down d-none d-md-block" aria-hidden="true" [ngClass]="scroll == false ? 'dark' : ''"></i>
			</a>
			<a class="language" *ngIf="langMenu == 'en'" (click)="lang('es')" [ngClass]="scroll == false ? 'dark' : ''">
				ES
				<i class="fa fa-angle-down d-none d-md-block" aria-hidden="true" [ngClass]="scroll == false ? 'dark' : ''"></i>
			</a>
		</div>	
	</div>    
</nav>
  
  <!-- Modal -->
<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menulLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      	<div class="modal-content">
			<div class="modal-body edition">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				<div class="menu-body">
					<a routerLink="/">
						<img [src]="logoDorado" alt="DoradoTV" title="DoradoTV" class="icon-dorado"/>
					</a>					
					<div class="section-btn" (click)="onButtonGroupClick($event)">
						<a class="btn-aMenu" id="btn{{j}}" [hidden]="!(langMenu == 'en')"
							*ngFor="let item of menuItems| slice: 1: 7; let j = index"
							(mouseover)="changeColor(item.slug)"
							
							(click)="author(item.slug, 'en')"
							[ngClass]="{'active': item.active || btnColorMobile()}">
							{{getTranslation(item, 'en')}}
						</a>
						<a class="btn-aMenu" id="btn{{j}}" [hidden]="!(langMenu == 'es')"
							*ngFor="let item of menuItems| slice: 1: 7; let j = index"
							(mouseover)="changeColor(item.slug)"
							
							(click)="author(item.slug, 'es')"
							[ngClass]="{'active': item.active || btnColorMobile()}">
							{{getTranslation(item, 'es')}}
						</a>
					</div>
					<div class="section-about">
						<a routerLink="/contact" *ngIf="langMenu == 'es'" data-bs-dismiss="modal" aria-label="Close">Acerca de</a>
						<a routerLink="/contact" *ngIf="langMenu == 'en'" data-bs-dismiss="modal" aria-label="Close">About</a>
					</div>
					<div class="section-social">
						<a [href]="social.link" target="_blank" *ngFor="let social of rrSS">
							<img [src]="social.img" title="social.title" alt="social.alt" class="social" *ngIf="socialPurple" />
							<img [src]="social.imgMobile" title="social.title" alt="social.alt" class="social" *ngIf="socialGold" />
						</a>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>