<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  <!-- <nav [ngClass]="url == '/project' || url == '/studio' ? 'dark' : '' && {'scrolled': scroll}"> -->
<nav [ngClass]="{'scrolled': scroll}" *ngIf="light">
	<div class="left">
		<a routerLink="">
			<img src="assets/images/nav/logo-DorardoTV.png" title="Logo Dorado TV" alt=" Logo Dorado TV" class="logo-dorado"/>
		</a>
	</div>
	<div class="right">
		<div class="menu">
			<a href="#" class="menu-nav-toggle" data-bs-toggle="modal" data-bs-target="#menuModal">
				<i></i>
			</a>
		</div>	
		<div class="lang-menu">
			<a class="language" *ngIf="langTxt == 'ES'" (click)="lang('en')">
				{{langTxt}}
				<i class="fa fa-angle-down d-none d-md-block" aria-hidden="true"></i>
			</a>
			<a class="language" *ngIf="langTxt == 'EN'" (click)="lang('es')">
				{{langTxt}}
				<i class="fa fa-angle-down d-none d-md-block" aria-hidden="true"></i>
			</a>
		</div>		
	</div>    
</nav>

<nav [ngClass]="{'scrolled': scroll, 'dark': dark}" *ngIf="dark">
	<div class="left">
		<a routerLink="">
			<img src="assets/images/nav/logo-DorardoTV-dark.svg" title="Logo Dorado TV" alt=" Logo Dorado TV" class="logo-dorado"/>
		</a>
	</div>
	<div class="right">
		<div class="menu">
			<a href="#" class="menu-nav-toggle" data-bs-toggle="modal" data-bs-target="#menuModal">
				<i class="dark"></i>
			</a>
		</div>	
		<div class="lang-menu">
			<a class="language dark">
				{{langTxt}}
				<i class="fa fa-angle-down dark d-none d-md-block" aria-hidden="true"></i>
			</a>
		</div>		
	</div>    
</nav>
  
  <!-- Modal -->
<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menulLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      	<div class="modal-content">
			<div class="modal-body edition">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				<div class="menu-body">
					<a routerLink="/">
						<img [src]="logoDorado" alt="DoradoTV" title="DoradoTV" class="icon-dorado"/>
					</a>					
					<div class="section-btn" (click)="onButtonGroupClick($event)">
						<a class="btn-aMenu" id="btn{{j}}" [hidden]="!(langTxt == 'EN')"
							*ngFor="let item of menuItems| slice: 1: 6; let j = index"
							(mouseover)="changeColor(item.slug)"
							
							(click)="author(item.slug)"
							[ngClass]="{'active': item.active || btnColorMobile()}">
							{{item.translations[0].translation}}
						</a>
						<a class="btn-aMenu" id="btn{{j}}" [hidden]="!(langTxt == 'ES')"
							*ngFor="let item of menuItems| slice: 1: 6; let j = index"
							(mouseover)="changeColor(item.slug)"
							
							(click)="author(item.slug)"
							[ngClass]="{'active': item.active || btnColorMobile()}">
							{{item.translations[1].translation}}
						</a>
					</div>
					<div class="section-about">
						<a routerLink="/contact" data-bs-dismiss="modal" aria-label="Close">{{about}}</a>
					</div>
					<div class="section-social">
						<a [href]="social.link" target="_blank" *ngFor="let social of rrSS">
							<img [src]="social.img" title="social.title" alt="social.alt" class="social" *ngIf="socialPurple" />
							<img [src]="social.imgMobile" title="social.title" alt="social.alt" class="social" *ngIf="socialGold" />
						</a>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>