<section class="project-in">
    <div class="video-embed">
        <iframe [src]="addProject.projectAuthor?.vimeo | safe: 'resourceUrl'" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="video-description">
        <h2 [ngClass]="addProject.projectAuthor.services[0].service_id.slug == 'online' ? 'white' : ''">{{addProject.projectAuthor?.title}}</h2>
        <p [ngClass]="addProject.projectAuthor.services[0].service_id.slug == 'online' ? 'white' : ''">{{addProject.projectAuthor?.credits}}</p>
    </div>
</section>
<section class="project-other" [ngClass]="getBg(nextProjectUp.project_id.services[0].service_id.slug)">
    <div class="image-proj">
        <img 
            [src]="nextProjectUp?.project_id.photo.data.full_url"            
            title="{{nextProjectUp?.project_id.photo_text}}" 
            alt="{{nextProjectUp?.project_id.name}}" />
    </div>
    <div class="description-proj">
        <a class="next-project" (click)="withinProject(nextProjectUp)" [ngClass]="nextProjectUp?.project_id.services[0].service_id.slug == 'online' ? 'white' : ''">
            Next project
            <i class="fa fa-arrow-right" aria-hidden="true" [ngClass]="nextProjectUp?.project_id.services[0].service_id.slug == 'online' ? 'white' : ''"></i>
        </a>
        <h3 [ngClass]="nextProjectUp?.project_id.services[0].service_id.slug == 'online' ? 'white' : ''">{{nextProjectUp?.project_id.title}}</h3>
        <p [ngClass]="nextProjectUp?.project_id.services[0].service_id.slug == 'online' ? 'white' : ''">{{nextProjectUp?.project_id.name}}</p>
    </div>
</section>
<!-- <section class="project-other" [ngClass]="getBg(nextProjectUp.services[0].service_id.slug)">
    <div class="image-proj">
        <img 
            [src]="nextProjectUp?.photo.data.full_url"            
            title="{{nextProjectUp?.photo_text}}" 
            alt="{{nextProjectUp?.name}}" />
    </div>
    <div class="description-proj">
        <a class="next-project" (click)="withinProject(nextProjectUp)" [ngClass]="nextProjectUp.services[0].service_id.slug == 'online' ? 'white' : ''">
            Next project
            <i class="fa fa-arrow-right" aria-hidden="true" [ngClass]="nextProjectUp.services[0].service_id.slug == 'online' ? 'white' : ''"></i>
        </a>
        <h3 [ngClass]="nextProjectUp.services[0].service_id.slug == 'online' ? 'white' : ''">{{nextProjectUp?.photo_text}}</h3>
        <p [ngClass]="nextProjectUp.services[0].service_id.slug == 'online' ? 'white' : ''">{{nextProjectUp?.name}}</p>
    </div>
</section> -->


<!-- <section class="project-in">
    <div class="video-embed">
        <iframe [src]="addProject.projectAuthor?.vimeo | safe: 'resourceUrl'" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="video-description">
        <h2 [ngClass]="addProject.projectAuthor.services[0].service_id.slug == 'online' ? 'white' : ''">{{addProject.projectAuthor?.title}}</h2>
        <p [ngClass]="addProject.projectAuthor.services[0].service_id.slug == 'online' ? 'white' : ''">{{addProject.projectAuthor?.credits}}</p>
    </div>
</section>
<section class="project-other" [ngClass]="getBg(nextProjectUp.services[0].service_id.slug)">
    <div class="image-proj">
        <img 
            [src]="nextProjectUp?.photo.data.full_url"            
            title="{{nextProjectUp?.photo_text}}" 
            alt="{{nextProjectUp?.name}}" />
    </div>
    <div class="description-proj">
        <a class="next-project" (click)="withinProject(nextProjectUp)" [ngClass]="nextProjectUp.services[0].service_id.slug == 'online' ? 'white' : ''">
            Next project
            <i class="fa fa-arrow-right" aria-hidden="true" [ngClass]="nextProjectUp.services[0].service_id.slug == 'online' ? 'white' : ''"></i>
        </a>
        <h3 [ngClass]="nextProjectUp.services[0].service_id.slug == 'online' ? 'white' : ''">{{nextProjectUp?.photo_text}}</h3>
        <p [ngClass]="nextProjectUp.services[0].service_id.slug == 'online' ? 'white' : ''">{{nextProjectUp?.name}}</p>
    </div>
</section> -->
