<!-- <section class="projects-home" >
    <div class="box-video" *ngFor="let projects of dataVideo; let i = index" [ngClass]="i == 2 || i == 5 || i == 8 || i == 11 || i == 14 || i == 17 || i == 20 || i == 23 || i == 26 ? 'wid-100' : 'wid-50' ">
        <video autoplay [muted]="'muted'" loop [ngClass]="i == 2 || i == 5 || i == 8 || i == 11 || i == 14 || i == 17 || i == 20 || i == 23 || i == 26 ? 'object-fit' : ''">
            <source [src]="projects.gif.data.full_url" type="video/mp4" />
        </video>
        <h4>{{projects.title}}</h4>
        <div class="caption" (click)="withinProject(projects, projects?.workers[0].worker_id.slug, projects?.services[0].service_id.slug, projects?.id)">
            <div class="caption-text " [ngClass]="getBg(projects.services[0].service_id.slug)">
                <i class="fa fa-play" aria-hidden="true" [ngClass]="projects.services[0].service_id.slug == 'online' ? 'white' : ''"></i>
                <h5 [ngClass]="projects.services[0].service_id.slug == 'online' ? 'white' : ''">{{projects.title}}</h5>
                <p [ngClass]="projects.services[0].service_id.slug == 'online' ? 'white' : ''">{{projects.name}}</p>
            </div>
        </div>
    </div>
</section> -->
<section class="projects-home" >
    <div class="box-video" *ngFor="let projects of dataVideo; let i = index" [ngClass]="i == 2 || i == 5 || i == 8 || i == 11 || i == 14 || i == 17 || i == 20 || i == 23 || i == 26 ? 'wid-100' : 'wid-50' ">
        <video autoplay [muted]="'muted'" loop [ngClass]="i == 2 || i == 5 || i == 8 || i == 11 || i == 14 || i == 17 || i == 20 || i == 23 || i == 26 ? 'object-fit' : ''">
            <source [src]="projects.gif.data.full_url" type="video/mp4" />
        </video>
        <h4>{{projects.title}}</h4>
        <div class="caption" (click)="withinProjectHome(projects, projects?.workers[0].worker_id.slug, projects?.services[0].service_id.slug, projects?.id, projects?.home, projects?.home_slider)">
            <div class="caption-text " [ngClass]="getBg(projects?.services[0].service_id.slug)">
                <i class="fa fa-play" aria-hidden="true" [ngClass]="projects?.services[0].service_id.slug == 'online' ? 'white' : ''"></i>
                <h5 [ngClass]="projects?.services[0].service_id.slug == 'online' ? 'white' : ''">{{projects.title}}</h5>
                <p [ngClass]="projects?.services[0].service_id.slug == 'online' ? 'white' : ''">{{projects.subtitle}}</p>
            </div>
        </div>
    </div>
</section>
