<app-spinner [text]="'Cargando...'" *ngIf="spinnerActive"></app-spinner>
<carousel [isAnimated]="true">
	<slide *ngFor="let items of projectItemSlider; let j = index" [ngClass]="{'active': j == 0}" >
		<video autoplay [muted]="'muted'" loop>
			<source [src]="items.gif.data.full_url" type="video/mp4" />
		</video>
		<!-- <div class="head-project" (click)="withinProject(items, items?.workers[0].worker_id.slug, items?.services[0].service_id.slug, items?.id, items?.home_slider, items?.home_slider)"> -->
		<div class="head-project" >
			<i class="fa fa-play" aria-hidden="true" (click)="openModal(template, items)"></i>
			<h2>{{items?.titulo}}</h2>
			<h3>{{items?.subtitle}}</h3>
			<p>{{items?.credits}}</p>
		</div>		
	</slide>
	<div class="btn-scroll" (click)="scroll()" >
		<span>Scroll</span>
		<img src="assets/images/carousel/arrow-down.svg" alt="Arrow down" title="Arrow down" />
		<div class="vertical-line"></div>
	</div>
</carousel>
<app-projects-home [dataVideo]="itemVideoNull" #testPortfolio id="projectsScroll"></app-projects-home>

<ng-template #template>
	 <div class="modal-header">
		<button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
			<i class="fa fa-times" aria-hidden="true" [ngClass]="projectAuthor?.services[0].service_id.slug == 'online' ? 'white' : ''"></i>
		</button>
	</div>
	<section class="project-in" [ngClass]="getBg(projectAuthor?.services[0].service_id.slug)">    
		<div class="video-embed">
			<iframe [src]="projectAuthor.vimeo | safe: 'resourceUrl'" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div class="video-description">
			<h2 [ngClass]="projectAuthor?.services[0].service_id.slug == 'online' ? 'white' : ''">{{projectAuthor?.titulo}}</h2>
			<h2 [ngClass]="projectAuthor?.services[0].service_id.slug == 'online' ? 'white' : ''">{{projectAuthor?.subtitle}}</h2>
			<p [ngClass]="projectAuthor?.services[0].service_id.slug == 'online' ? 'white' : ''">{{projectAuthor?.credits}}</p>
		</div>
	</section>
	<section class="project-other" [ngClass]="getBg(nextProjectUp?.services[0].service_id.slug)">
		<div class="image-proj">
			<img 
				[src]="nextProjectUp?.photo.data.full_url"            
				title="{{nextProjectUp?.photo_text}}" 
				alt="{{nextProjectUp?.name}}" />
		</div>
		<div class="description-proj">
			<a class="next-project" (click)="nextProject(nextProjectUp)" [ngClass]="nextProjectUp?.services[0].service_id.slug == 'online' ? 'white' : ''">
				Next project
				<i class="fa fa-arrow-right" aria-hidden="true" [ngClass]="nextProjectUp?.services[0].service_id.slug == 'online' ? 'white' : ''"></i>
			</a>
			<h3 [ngClass]="nextProjectUp?.services[0].service_id.slug == 'online' ? 'white' : ''">{{nextProjectUp?.titulo}}</h3>
			<p [ngClass]="nextProjectUp?.services[0].service_id.slug == 'online' ? 'white' : ''">{{nextProjectUp?.subtitle}}</p>
		</div>
	</section>
</ng-template>