@import "../../../styles.scss";

body {
    background-color: #000;
}
//Carousel
::ng-deep carousel {
    position: relative;
    .carousel {
        .carousel-indicators {
            margin-bottom: 2rem;
            align-items: center;
            @media(min-width:1720px) {
                margin-bottom: 3rem;
            }
            @media(max-width:768px) {
                display: none;
            }
            button {
                width: 7px;
                height: 7px;
                border-radius: 100%;
                background-color: $gold;
                margin: 0 16px;
                opacity: 1;
                position: relative;
                &.active {
                    background-color: $white;
                    opacity: 1;
                    border: 5px solid transparent;
                    outline: 2px solid $gold;                 
                }
                @media(max-width:768px) {
                    width: 8px;
                    height: 8px;
                    margin: 0 12px;
                }
            }
        }
    }
    .carousel-inner {
        ::ng-deep slide {
            .item {
                @media(max-width:768px) {
                    height: 100vh;
                }
                video {
                    object-fit: fill;
                    width: 100% !important;
                    height: 100% !important;
                    @media(max-width:768px) {
                        width: initial;
                        height: initial;
                        object-fit: none;
                    }
                }
                .head-project {
                    position: absolute;
                    top: 60%;
                    left: 40%;
                    width: 70%;
                    margin: -15% 0 0 -25%;
                    text-align: center;
                    cursor: pointer;
                    @media(max-width:768px) {
                        top:36%
                    }
                    @media(min-width:1720px) {
                        top: 50%;
                    }
                    i {
                        font-size: 48px;
                        color: $gold;
                        @media(max-width:768px) {
                            font-size: 32px;
                        }
                        @media(min-width:1720px) {
                            font-size: 60px;
                        }
                    }
                    h2 {
                        font-size: 56px;
                        line-height: 64px;
                        font-family: $caudex;
                        color: $gold;
                        margin: 24px auto;
                        @media(max-width:768px) {
                            font-size: 36px;
                            line-height:44px;
                            color: $gold;
                            margin: 16px auto 8px;
                        }
                        @media(min-width:1720px) {
                            font-size: 92px;
                            line-height: 100px;
                        }
                    }
                    h3 {
                        font-size: 28px;
                        line-height: 36px;
                        font-family: $raleway;
                        color: $white;
                        margin: 24px auto;
                        @media(max-width:768px) {
                            font-size: 16px;
                            line-height:24px;
                            margin: 24px auto 8px;
                        }
                        @media(min-width:1720px) {
                            font-size: 42px;
                            line-height: 50px;
                        }
                    }
                    p {
                        font-size: 18px;
                        line-height: 24px;
                        font-family: $raleway;
                        color: $white;
                        @media(max-width:768px) {
                            font-size: 16px;
                            line-height:24px;
                        }
                        @media(min-width:1720px) {
                            font-size: 24px;
                            line-height: 32px;
                        }
                    }
                }
            }
        }
    }
    .left {
        .carousel-control-prev-icon {
            width: 4rem;
            height: 4rem;
            background-image: url(../../../assets/images/carousel/arrow-left.svg);
            @media(max-width:768px) {
                width: 2rem;
                height: 2rem;
            }
        }
    }
    .right {
        .carousel-control-next-icon {
            width: 4rem;
            height: 4rem;
            background-image: url(../../../assets/images/carousel/arrow-right.svg);
            @media(max-width:768px) {
                width: 2rem;
                height: 2rem;
            }
        }
    }
    .btn-scroll {
        position: absolute;
        right: 36px;
        bottom: 36px;
        display: flex;
        justify-content: center;
        z-index: 9;
        flex-direction: column;
        cursor: pointer;
        @media(max-width:768px) {
            width: 100%;
            left: 0;
            right: 0;
            bottom: 8px;
            text-align: center;
        }
        span {
            font-family: $raleway;
            font-size: 20px;
            line-height: 40px;
            font-weight: 500;
            color: $white;            
        }
        img {            
            width: 24px;
            margin: 0 auto;
            @media(max-width:768px) {
                display: none;
            }
        }
        .vertical-line {
            display: none;
            @media(max-width:768px) {
                display: block;
                background-color: $gold;
                width: 3px;
                height: 60px;
                margin: 0 auto;   
            }
        }
    }
}

#projectsScroll {
    scroll-margin-top: 90px;
    @media(max-width:768px) {
        scroll-margin-top: 78px;  
    }
}

// SPINNER 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
  }
  .middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
    animation: loader 1.2s linear infinite;
  }
  .bar1 {
    animation-delay: 0.1s;
  }
  .bar2 {
    animation-delay: 0.2s;
  }
  .bar3 {
    animation-delay: 0.3s;
  }
  .bar4 {
    animation-delay: 0.4s;
  }
  .bar5 {
    animation-delay: 0.5s;
  }
  .bar6 {
    animation-delay: 0.6s;
  }
  .bar7 {
    animation-delay: 0.7s;
  }
  .bar8 {
    animation-delay: 0.8s;
  }
  
  @keyframes loader {
    0% {
      transform: scaleY(0.1);
      background: transparent;
    }
    50% {
      transform: scaleY(1);
      background: yellowgreen;
    }
    100% {
      transform: scaleY(0.1);
      background: transparent;
    }
}


::ng-deep modal-container{
    .modal-dialog {
        max-width: inherit;
        margin: 0;
        .modal-content {
            //height: 100vh;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            .modal-header {
                padding: 0;
                .btn-close {
                    position: absolute;
                    top: 24px;
                    right: 32px;
                    background: none;
                    z-index: 10;
                    i {
                        font-size: 26px;
                        &.white {
                            color: $white;
                        }
                    }
                }
            }            
            .modal-body {
                flex: initial;
            }
        }
    }
}

// MODAL
.project-in {
    padding: 80px 0 42px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @media(max-width:768px) {
        padding: 110px 24px 32px;
    }
    .icon-dorado {
        width: 70px;
        margin: 24px auto;
    }
    .video-embed {
        iframe {
            width: 854px;
            height: 480px;
            @media(max-width:768px) {
                width: 100%;
                height: auto;
                transform: scale(1.2);
            }
            @media(min-width:1720px){
                width: 1280px;
                height: 720px;
            }
        }
    }
    &.edition {
        background-color: $gold;
    }
    &.color {
        background-color: $blue-light;
    }
    &.music {
        background-color: $red;
    }
    &.animation {
        background-color: $green;
    }
    &.online {
        background-color: $purple;
    }
    .video-description {
        margin: 32px auto 0;
        h2 {
            font-family: $raleway;
            font-size: 32px;
            line-height: 40px;
            font-weight: 500;
            @media(max-width:768px){
                font-size: 24px;
                line-height: 32px;
            }
            &.white {
                color: $white;
            }
        }
        p {
            font-family: $raleway;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            &.white {
                color: $white;
            }
        }
    }
}

.project-other {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-box-shadow: 0px -4px 6px -2px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px -4px 6px -2px rgba(0,0,0,0.29);
    box-shadow: 0px -4px 6px -2px rgba(0,0,0,0.29);
    @media(max-width:768px){
        flex-direction: column;
    }
    &.edition {
        background-color: $gold;
    }
    &.color {
        background-color: $blue-light;
    }
    &.music {
        background-color: $red;
    }
    &.animation {
        background-color: $green;
    }
    &.online {
        background-color: $purple;
    }
    .image-proj {
        flex: 1 1 25%;
        width: 25%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        background-color: $black;
        @media(max-width:768px){
            width: 100%;
        }
        img {
            width: 130%;
            margin: 0 auto;
            @media(max-width:768px){
                width: 100%;
            }
            @media(min-width: 1720px) {
                width: 125%;
            }
        }
    }
    .video-embed-add {
        flex: 1 1 30%;
        width: 30%;
        iframe {
            width: 854px;
            height: 480px;
            @media(max-width:768px) {
                width: 100%;
                height: auto;
                transform: scale(1.2);
            }
            @media(min-width:1720px){
                width: 854px;
                height: 480px;
            }
        }
    }
    .description-proj {
        flex: 1 1 75%;
        width: 75%;
        padding: 32px 40px;
        display: flex;
        flex-direction: column;
        @media(max-width:768px){
            width: 100%;
        }
        .next-project {
            font-family: $raleway;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            color:$white;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 32px;
            cursor: pointer;
            &.white {
                color: $white;
            }
            &:hover {
                opacity: .8;
            }
            @media(max-width:768px) {
                margin-bottom: 24px;
                font-size: 14px;
                line-height: 20px;
            }
            i {
                font-size: 18px;
                margin-left: 16px;
                &.white {
                    color: $white;
                }
            }
        }
        h3 {
            font-family: $raleway;
            font-size: 52px;
            line-height: 64px;
            font-weight: 300;
            @media(max-width:768px){
                font-size: 18px;
                line-height: 24px;
                font-weight: 600;
            }
            &.white {
                color: $white;
            }
        }
        p {
            font-family: $raleway;
            font-size: 16px;
            line-height: 24px;
            &.white {
                color: $white;
            }
            @media(max-width:768px){
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}